<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-button><ion-icon name="arrow-back"></ion-icon></ion-button>
      </ion-buttons>
    <ion-title>Acerca de nosotros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card padding>
    <h3>Acerca de:</h3>
    <h4>NicaClick</h4>
    <h3>Versión:</h3>
    <h4>1.0</h4>
    <h3>Descripción:</h3>
    <h4>NicaClick es una app que permite crear banners publicitarios con información de nuestro negocio.</h4>
    <h3>Email:</h3>
    <h4>nicaclick2019@gmail.com</h4>
    <h4>Todos los derechos reservados, 2019.</h4>
  </ion-card>
</ion-content>
