<ion-header>
  <ion-toolbar>
    <ion-title>Nuevo banner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card-content width="100" height="100" >
        <ion-img src="assets/images/kzeledn_nametag.png" ></ion-img>
        <ion-select placeholder="Fuente" > 
            <ion-select-option>Arial</ion-select-option>
            <ion-select-option>Roboto</ion-select-option>
            <ion-select-option>Comic sand</ion-select-option>
            <ion-select-option>Calibri</ion-select-option>
          </ion-select>
    </ion-card-content>
</ion-content>
