<ion-header>
  <ion-toolbar>
    <ion-title>Nuevo banner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card-content class="z-depth-5 materialboxed">
        <div class="row">
            <div class="s4">
                <ion-img src="assets/images/kzeledn_nametag.png" width="500"></ion-img>
            </div>
        </div>
        <ion-select placeholder="Fuente" class=""> 
            <ion-select-option>Arial</ion-select-option>
            <ion-select-option>Roboto</ion-select-option>
            <ion-select-option>Comic sand</ion-select-option>
            <ion-select-option>Calibri</ion-select-option>
          </ion-select>
    </ion-card-content>
</ion-content>
