<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-button><ion-icon name="arrow-back"></ion-icon></ion-button>
      </ion-buttons>
    <ion-title>Políticas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card padding>
    <ion-card-title>
      <h4 text-center id="head_card">
          Terminos y Condiciones de Uso
      </h4>
    </ion-card-title>
  </ion-card>
  <ion-card padding>
    <h4>Uso de nuestra app:</h4>
    <p text-justify>
      Pueden aplicarse términos adicionales para cualquier contenido que descargue, cargue o imprima desde el Servicio. Dichos términos adicionales se pondrán a su disposición antes de iniciar cualquier carga, descarga o impresión aplicable.
    </p>
  </ion-card>
  <ion-card padding>
      <h4>Nuestros derechos de propiedad:</h4>
      <p text-justify>
          Excepto por su Contenido de usuario, el Servicio y todos los materiales incluidos o transferidos, incluyendo, sin limitación, software, imágenes, texto, gráficos, ilustraciones, logotipos, patentes, marcas registradas, marcas de servicio, derechos de autor, fotografías, el Contenido del usuario que pertenece a otros Usuarios y los Medios de archivo que pertenecen a otros Usuarios (el "Contenido de NicaClick"), y todos los Derechos de propiedad intelectual relacionados con el mismo, son propiedad exclusiva de NicaClick. Excepto que se estipule explícitamente en este documento, usted acepta no vender, licenciar, alquilar, modificar, distribuir, copiar, reproducir, transmitir, mostrar públicamente, realizar públicamente, publique, adapte, edite o cree trabajos derivados de cualquier contenido de NicaClick. El uso del Contenido de Canva para cualquier propósito que no esté expresamente permitido por este Acuerdo está estrictamente prohibido.
      </p>
    </ion-card>
</ion-content>
