<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-button><ion-icon name="arrow-back"></ion-icon></ion-button>
      </ion-buttons>
    <ion-title>Mis Diseños</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="/assets/plantilla.jpg" alt="">
    <ion-card-content>
      <ion-card-title>
        Post Facebook
      </ion-card-title>
      <ion-button  color="success">
        Usar Diseño
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="/assets/plantilla.jpg" alt="">
    <ion-card-content>
      <ion-card-title>
        Post Facebook
      </ion-card-title>
      <ion-button color="success">
        Usar Diseño
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="/assets/plantilla.jpg" alt="">
    <ion-card-content>
      <ion-card-title>
        Post Facebook
      </ion-card-title>
      <ion-button color="success">
        Usar Diseño
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="/assets/plantilla.jpg" alt="">
    <ion-card-content>
      <ion-card-title>
        Post Facebook
      </ion-card-title>
      <ion-button color="success">
        Usar Diseño
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="/assets/plantilla.jpg" alt="">
    <ion-card-content>
      <ion-card-title>
        Post Facebook
      </ion-card-title>
      <ion-button color="success">
        Usar Diseño
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
