<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-button><ion-icon name="arrow-back"></ion-icon></ion-button>
      </ion-buttons>
    <ion-title>Mis Diseños</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-row>
    <ion-col size="6">
      <ion-card>
        <img src="/assets/plantillaeliab.jpg" alt="plantilla1">
        <ion-card-content>
          <ion-button color="success" expand="block" size="small">
              Compartir
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <img src="/assets/plantilla2-min.jpg" alt="">
        <ion-card-content>
          <ion-button  color="success" expand="block" size="small">
            Compartir
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <img src="/assets/plantilla3-min.jpg" alt="">
        <ion-card-content>
          <ion-button  color="success" expand="block" size="small">
            Compartir
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <img src="/assets/plantilla4-min.jpg" alt="">
        <ion-card-content>
          <ion-button  color="success" expand="block" size="small">
            Compartir
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <img src="/assets/plantilla5-min.jpg" alt="">
        <ion-card-content>
          <ion-button  color="success" expand="block" size="small">
            Compartir
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <img src="/assets/plantilla6-min.jpg" alt="">
        <ion-card-content>
          <ion-button  color="success" expand="block" size="small">
            Compartir
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <img src="/assets/plantilla17-min.jpg" alt="">
        <ion-card-content>
          <ion-button  color="success" expand="block" size="small">
            Compartir
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <img src="/assets/plantilla8-min.jpg" alt="">
        <ion-card-content>
          <ion-button  color="success" expand="block" size="small">
            Compartir
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <img src="/assets/plantilla9-min.jpg" alt="">
        <ion-card-content>
          <ion-button  color="success" expand="block" size="small">
            Compartir
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <img src="/assets/plantilla10-min.jpg" alt="">
        <ion-card-content>
          <ion-button  color="success" expand="block" size="small">
            Compartir
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <img src="/assets/plantilla11-min.jpg" alt="">
        <ion-card-content>
          <ion-button  color="success" expand="block" size="small">
            Compartir
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <img src="/assets/plantilla12-min.jpg" alt="">
        <ion-card-content>
          <ion-button  color="success" expand="block" size="small">
            Compartir
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <img src="/assets/plantilla13-min.jpg" alt="">
        <ion-card-content>
          <ion-button  color="success" expand="block" size="small">
            Compartir
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <img src="/assets/plantilla14.jpg" alt="">
        <ion-card-content>
          <ion-button  color="success" expand="block" size="small">
            Compartir
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <img src="/assets/plantilla15-min.jpg" alt="">
        <ion-card-content>
          <ion-button  color="success" expand="block" size="small">
            Compartir
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <img src="/assets/plantilla16-min.jpg" alt="">
        <ion-card-content>
          <ion-button  color="success" expand="block" size="small">
            Compartir
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
