<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-button (click)='back()'><ion-icon name="arrow-back"></ion-icon></ion-button>
      </ion-buttons>
    <ion-title>Mis Diseños</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-row>
    <ion-col *ngFor ="let disenio of __disenios" size="6">
      <ion-card>
        <img [src]="disenio.imgSrc">
        <ion-card-content>
          <ion-button color="success" expand="block" size="small">
              Compartir
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
    
  </ion-row>
</ion-content>
