<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-button><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Crear Banner</ion-title>
    <ion-buttons slot="end">
        <ion-button><ion-icon name="archive"></ion-icon></ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
        <ion-button><ion-icon name="share"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card id="canva_d">
    <canvas #canvas></canvas>
  </ion-card>
  <ion-card>
    <ion-card-title text-center>
        <h4>
            Datos del Banner
        </h4>
    </ion-card-title>
  </ion-card>
  <br>
  <ion-label>Negocio:</ion-label>
  <ion-input type="text" placeholder="Ingrese el nombre del negocio" autofocus="true"></ion-input>
  
  <ion-label>Propietario:</ion-label>
  <ion-input type="text" placeholder="Ingrese su nombre"></ion-input>
  
  <ion-label>Direccion del negocio:</ion-label>
  <ion-input type="text" placeholder="Ingrese la direccion de su negocio"></ion-input>
  
  <ion-label>Teléfono:</ion-label>
  <ion-input type="tel" placeholder="Ingrese su número telefónico"></ion-input>

  <ion-row>
    <ion-col>
      <ion-button color="success" (click)="drawCircle()">
      <ion-icon name="brush" slot="start"></ion-icon>
        Aplicar
      </ion-button>
    </ion-col>
  </ion-row>

</ion-content>
