<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-button><ion-icon name="arrow-back"></ion-icon></ion-button>
      </ion-buttons>
    <ion-title class="slideInRight2">Plantillas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="6">
      <ion-card class="slideInLeft">
        <img src="./../../assets/plantillaeliab.jpg" alt="">
        <ion-card-content>
          <ion-card-title text-center>
            <h5>
              Portada Facebook
            </h5>
            <h6>
              851x315
            </h6>
          </ion-card-title>
          <ion-button (click)='go()' color="success" expand="block" size="small">
              Usar
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="slideInRight">
        <img src="./../../assets/plantilla2-min.jpg" alt="">
        <ion-card-content>
          <ion-card-title text-center>
            <h5>
              Cuadrada Facebook
            </h5>
            <h6>
              1200x1200
            </h6>
          </ion-card-title>
          <ion-button (click)='go()' color="success" expand="block" size="small">
            Usar
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="slideInLeft">
        <img src="./../../assets/plantilla3-min.jpg" alt="">
        <ion-card-content>
          <ion-card-title text-center>
            <h5>
              Horizontal Facebook
            </h5>
            <h6>
              1200x630
            </h6>
          </ion-card-title>
          <ion-button (click)='go()' color="success" expand="block" size="small">
            Usar
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="slideInRight">
        <img src="./../../assets/plantilla4-min.jpg" alt="">
        <ion-card-content>
          <ion-card-title text-center>
            <h5>
              Enlace Facebook
            </h5>
            <h6>
              1200x630
            </h6>
          </ion-card-title>
          <ion-button (click)='go()' color="success" expand="block" size="small">
            Usar
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="slideInLeft">
        <img src="./../../assets/plantilla5-min.jpg" alt="">
        <ion-card-content>
          <ion-card-title text-center>
            <h5>
              Anuncio Facebook
            </h5>
            <h6>
              1600x628
            </h6>
          </ion-card-title>
          <ion-button (click)='go()' color="success" expand="block" size="small">
            Usar
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="slideInRight">
        <img src="./../../assets/plantilla6-min.jpg" alt="">
        <ion-card-content>
          <ion-card-title text-center>
            <h5>
              Cabecera Twitter
            </h5>
            <h6>
              1500x500
            </h6>
          </ion-card-title>
          <ion-button (click)='go()' color="success" expand="block" size="small">
            Usar
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="slideInLeft">
        <img src="./../../assets/plantilla17-min.jpg" alt="">
        <ion-card-content>
          <ion-card-title text-center>
            <h5>
              Tweet Twitter
            </h5>
            <h6>
              1024x512
            </h6>
          </ion-card-title>
          <ion-button (click)='go()' color="success" expand="block" size="small">
            Usar
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="slideInRight">
        <img src="./../../assets/plantilla8-min.jpg" alt="">
        <ion-card-content>
          <ion-card-title text-center>
            <h5>
              Twitter Card
            </h5>
            <h6>
              800x320
            </h6>
          </ion-card-title>
          <ion-button (click)='go()' color="success" expand="block" size="small">
            Usar
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="slideInLeft">
        <img src="./../../assets/plantilla9-min.jpg" alt="">
        <ion-card-content>
          <ion-card-title text-center>
            <h5>
              Cuadrada Instagram
            </h5>
            <h6>
              1080x1080
            </h6>
          </ion-card-title>
          <ion-button (click)='go()' color="success" expand="block" size="small">
            Usar
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="slideInRight">
        <img src="./../../assets/plantilla10-min.jpg" alt="">
        <ion-card-content>
          <ion-card-title text-center>
            <h5>
              Horizontal Instagram
            </h5>
            <h6>
              1080x566
            </h6>
          </ion-card-title>
          <ion-button (click)='go()' color="success" expand="block" size="small">
            Usar
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="slideInLeft">
        <img src="./../../assets/plantilla15-min.jpg" alt="">
        <ion-card-content>
          <ion-card-title text-center>
            <h5>
              Vertical Instagram
            </h5>
            <h6>
              1080x1350
            </h6>
          </ion-card-title>
          <ion-button (click)='go()' color="success" expand="block" size="small">
            Usar
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="slideInRight">
        <img src="./../../assets/plantilla12-min.jpg" alt="">
        <ion-card-content>
          <ion-card-title text-center>
            <h5>
              Instagram Stories
            </h5>
            <h6>
              750x1334
            </h6>
          </ion-card-title>
          <ion-button (click)='go()' color="success" expand="block" size="small">
            Usar
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="slideInLeft">
        <img src="./../../assets/plantilla13-min.jpg" alt="">
        <ion-card-content>
          <ion-card-title text-center>
            <h5>
              Pin Pinterest
            </h5>
            <h6>
              600x900
            </h6>
          </ion-card-title>
          <ion-button (click)='go()' color="success" expand="block" size="small">
            Usar
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="slideInRight">
        <img src="./../../assets/plantilla14-min.jpg" alt="">
        <ion-card-content>
          <ion-card-title text-center>
            <h5>
              Tablero Pinterest
            </h5>
            <h6>
              200x200
            </h6>
          </ion-card-title>
          <ion-button (click)='go()' color="success" expand="block" size="small">
            Usar
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="slideInLeft">
        <img src="./../../assets/plantilla15-min.jpg" alt="">
        <ion-card-content>
          <ion-card-title text-center>
            <h5>
              Mineatura Pinterest
            </h5>
            <h6>
              100x100
            </h6>
          </ion-card-title>
          <ion-button (click)='go()' color="success" expand="block" size="small">
            Usar
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="slideInRight">
        <img src="./../../assets/plantilla16-min.jpg" alt="">
        <ion-card-content>
          <ion-card-title text-center>
            <h5>
              Estado WhatsApp
            </h5>
            <h6>
              1080x1920
            </h6>
          </ion-card-title>
          <ion-button (click)='go()' color="success" expand="block" size="small">
            Usar
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
