<ion-header id="hola">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      NicaClick
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/eliab4.png"></ion-img>
      <ion-card-header>
        <ion-card-title color="primary">Bienvenidos a NicaClick</ion-card-title>
      </ion-card-header>
      <ion-card-content text-justify>
        <p>Aproveche el fabricante de banners más eficiente. Cree sus banners y compártalos en las redes sociales para promocionar su negocio.</p>
      </ion-card-content>
      <br>
    </ion-card>
    <br>
    <ion-card class="welcome-card">
      <ion-img src="/assets/banner.jpg"></ion-img>
      <ion-card-header>
          <ion-card-title color="primary">Descubre la importancia de los banners</ion-card-title>
        </ion-card-header>
      <ion-card-content text-justify>
        <p>Los banners son una excelente manera de promocionar tu negocio de manera visual y fácil de comprender. Aprovecha a NicaClick para promover tu negocio y atraer potenciales clientes.</p>
      </ion-card-content>
    </ion-card>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button  color="danger">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    
</ion-content>



