<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      NicaClick
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/eliab4.png"></ion-img>
      <ion-card-header>
        <ion-card-title color="primary">Bienvenidos a NicaClick</ion-card-title>
      </ion-card-header>
      <ion-card-content text-justify>
        <p>Aproveche la fabricante de banners más eficiente. Cree sus banners y compártalos en las redes sociales para promocionar su negocio.</p>
      </ion-card-content>
    </ion-card>
</ion-content>



